* {
  margin: 0;
}
body {
  width: 100%;
  display: flex;
  justify-content: center;
}
.template {
  width: 95%;
}
.name {
  display: flex;
  justify-content: center;
  font-size: 2vw;
}
.name > a {
  text-decoration: none;
}
.name > a:link {
  color: black;
}
.name > a:visited {
  color: black;
}
.main_img_template {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main_img {
  width: 100%;
  max-width: 1620px;
}
.auto_skill {
  width: 100%;
}
.box_template {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box {
  width: 40%;
  max-width: 350px;
  margin: 10px;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
th,
td {
  padding: 5px;
}
table {
  margin: 10px;
}
